<div class="container pb-3">
  <div class="clr-row">
    <div class="clr-col-12">
      <h2>Profile settings</h2>
    </div>
    <div class="clr-col-lg-8 clr-col-12">
      <div class="card"
           *ngIf="profile">
        <div class="card-header">
          <div class="basic-info-header">
            <div class="card-title">
              Basic information
            </div>

            <button type="button"
                    *ngIf="basicInfoForm.controls[ 'email' ].disabled"
                    (click)="activateBasicInfoForm()"
                    class="btn btn-sm btn-outline-primary">
              {{'GENERAL.EDIT' | translate}}
              <clr-icon shape="edit"></clr-icon>
            </button>

          </div>

        </div>
        <form [formGroup]="basicInfoForm"
              (ngSubmit)="updateProfile()">
          <div class="card-block pb-3">
            <!-- firstname -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container>
                  <label>First name</label>
                  <input class="w-100"
                         clrInput
                         [formControlName]="'firstname'"
                         placeholder="First name"
                         type="text"/>
                </clr-input-container>
              </div>
            </div>
            <!-- lastname -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container>
                  <label>Last name</label>
                  <input class="w-100"
                         clrInput
                         [formControlName]="'lastname'"
                         placeholder="Last name"
                         type="text"/>
                </clr-input-container>
              </div>
            </div>
            <!-- email -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container>
                  <label>Email</label>
                  <input class="w-100"
                         clrInput
                         [formControlName]="'email'"
                         placeholder="E-mail"
                         type="text"/>
                </clr-input-container>
                <div class="error active"
                     *ngIf="basicInfoForm?.get('email')?.dirty && basicInfoForm?.get('email')?.hasError('required')">
                  Email is a required field
                </div>
                <div class="error active"
                     *ngIf="basicInfoForm?.get('email')?.dirty && basicInfoForm?.get('email')?.hasError('email')">
                  Please provide a valid email
                </div>
              </div>
            </div>
            <!-- bio -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-textarea-container class="w-100">
                  <label>Bio</label>
                  <textarea rows="7"
                            class="w-100"
                            clrTextarea
                            [formControlName]="'bio'"
                            placeholder="Write something about yourself"
                            type="text">
              </textarea>
                </clr-textarea-container>
              </div>
            </div>
          </div>
          <div class="card-footer"
               *ngIf="basicInfoForm.controls[ 'email' ].enabled">
            <div class="clr-row">
              <div class="basic-info-action-buttons">
                <button type="button"
                        (click)="dismissBasicInfoForm()"
                        class="btn btn-secondary">Dismiss
                </button>
                <button type="submit"
                        [disabled]="!basicInfoForm?.valid"
                        class="btn btn-primary">Update info
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="clr-col-lg-4 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Avatar</div>
        </div>
        <div class="card-img">
          <div class="edit-avatar">
            <button class="btn btn-icon"
                    (click)="openAvatarModal = true">
              Edit
              <clr-icon shape="edit"></clr-icon>
            </button>
          </div>
          <img [src]="safeAvatar ? safeAvatar : defaultAvatar"
               alt="avatar">
        </div>

      </div>
    </div>

    <div class="clr-col-lg-6 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Update password</div>
        </div>
        <form [formGroup]="updatePasswordForm"
              (ngSubmit)="updatePassword()">
          <div class="card-block">
            <!-- old -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container>
                  <label>Old password</label>
                  <input class="w-100"
                         clrInput
                         [formControlName]="'old'"
                         placeholder="Old password"
                         type="password"/>
                </clr-input-container>
                <div class="error active"
                     *ngIf="updatePasswordForm?.get('old')?.dirty && updatePasswordForm?.get('old')?.hasError('required')">
                  Old password is required
                </div>
              </div>
            </div>
            <!-- new -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container>
                  <label>New password</label>
                  <input class="w-100"
                         clrInput
                         [formControlName]="'new'"
                         placeholder="New password"
                         type="password"/>
                </clr-input-container>
                <div class="error active"
                     *ngIf="updatePasswordForm?.get('new')?.dirty &&
                     updatePasswordForm?.get('new')?.hasError('required')">
                  New password is required
                </div>
                <div class="error active"
                     *ngIf="updatePasswordForm?.get('new')?.dirty &&
                     updatePasswordForm?.get('new')?.hasError('minlength')">
                  New password should be at least 8 characters
                </div>
              </div>
            </div>
            <!-- confirm -->
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container>
                  <label>Confirm new password</label>
                  <input class="w-100"
                         clrInput
                         [formControlName]="'confirm'"
                         placeholder="Confirm password"
                         type="password"/>
                </clr-input-container>
                <div class="error active"
                     *ngIf="updatePasswordForm?.get('confirm')?.dirty &&
                     updatePasswordForm?.get('confirm')?.hasError('required')">
                  Confirm new password
                </div>
                <div class="error active"
                     *ngIf="updatePasswordForm?.get('confirm')?.dirty &&
                     updatePasswordForm?.get('confirm')?.hasError('mustMatch')">
                  Passwords don't match
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="clr-row">
              <div class="clr-col-12">
                <button type="submit"
                        [disabled]="!updatePasswordForm?.valid"
                        class="btn btn-primary btn-block">Change password
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<clr-wizard #wizard
            [clrWizardOpen]="openAvatarModal"
            (clrWizardOnReset)="resetAvatarModal"
            (clrWizardOnFinish)="uploadAvatar()">
  <clr-wizard-title>Upload avatar</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Upload</clr-wizard-button>

  <clr-wizard-page #pageOne
                   [clrWizardPageNextDisabled]="!imageChangedEvent">
    <ng-template clrPageTitle>Basic Information</ng-template>
    <ng-template clrPageNavTitle>Select Image</ng-template>
    <clr-input-container>
      <label>Name</label>
      <input clrInput
             type="file"
             accept="image/png"
             (change)="fileChangeEvent($event)"/>
    </clr-input-container>
  </clr-wizard-page>

  <clr-wizard-page #pageTwo>
    <ng-template clrPageTitle>Crop</ng-template>
    <ng-template clrPageNavTitle>Crop image</ng-template>

    <div class="clr-row">
      <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
        <h4>Image Cropper</h4>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="256"
          format="png"
          (imageCropped)="imageCropped($event)"></image-cropper>
      </div>
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
        <h4>Preview</h4>
        <img [src]="croppedImage"
             alt="preview">
      </div>
    </div>
  </clr-wizard-page>
  <clr-wizard-page #pageThree>
    <ng-template clrPageTitle>Upload</ng-template>
    <ng-template clrPageNavTitle>Confirm and upload</ng-template>
    <div class="clr-row">
      <div class="clr-col-md-6 clr-col-12">
        <h4>Preview</h4>
        <img [src]="croppedImage"
             alt="preview">
      </div>
      <div class="clr-col-md-6 clr-col-12">
        <h4>Preview rounded</h4>
        <img [src]="croppedImage"
             alt="preview"
             class="round">
      </div>
    </div>
  </clr-wizard-page>
</clr-wizard>
