<div class="login-wrapper">
  <form [formGroup]="loginForm"
        class="login"
        (ngSubmit)="submit()">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      {{productName}}
      <h5 class="hint">Use your credentials to sign in or create one now</h5>
    </section>
    <div class="login-group">

      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text"
               [formControlName]="'email'"
               clrInput
               placeholder="Email"/>
      </clr-input-container>
      <div class="error active"
           *ngIf="loginForm?.get('email')?.dirty && loginForm?.get('email')?.hasError('required')">
        Email is a required field
      </div>
      <div class="error active"
           *ngIf="loginForm?.get('email')?.dirty && loginForm?.get('email')?.hasError('email')">
        Please provide a valid email
      </div>

      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password"
               [formControlName]="'password'"
               clrPassword
               placeholder="Password"/>
      </clr-password-container>
      <div class="error active"
           *ngIf="loginForm?.get('password')?.dirty && loginForm?.get('password')?.hasError('required')">
        Password is a required field
      </div>
      <div class="error active"
           *ngIf="loginForm?.get('password')?.dirty && loginForm?.get('password')?.hasError('minLength')">
        Password should be at least 8 characters
      </div>

      <button type="submit"
              class="btn btn-primary"
              [disabled]="!loginForm.valid">NEXT
      </button>
      <a [routerLink]="'/register'"
         class="signup">Sign up for a Company ID</a>
    </div>
  </form>
</div>
